@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
         url("../fonts/gilroyextrabold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroylight.woff2") format("woff2"),
         url("../fonts/gilroylight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    min-width: 1200px;

    color: #000000;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;

    margin: 0;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.button {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;

    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;

    background-color: transparent;
    cursor: pointer;
    border: none;
    z-index: 0;
}

.button::after {
    content: "";
    position: absolute;
    left: 0;
    top: 35%;
    background-color: #f0c52e;
    height: 8px;
    width: 100%;
    -webkit-transition: 0.15s;
    -o-transition: 0.15s;
    transition: 0.15s;
    z-index: -2;
}

.button:focus {
    outline: none;
}

.button:active {
    color: rgba(0, 0, 0, 0.3);
}

.button:hover::after,
.button:focus::after {
    -webkit-transform: translateY(-40%);
        -ms-transform: translateY(-40%);
            transform: translateY(-40%);
    height: 40px;
}

.input-wrapper {
    position: relative;
    margin: 0;
}

.blocks-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.title {
    margin: 0;

    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: 800;
    letter-spacing: 0.5px;
    color: #000000;
}

.text-input {
    padding: 14px 18px;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: rgba(70, 70, 70, 0.4);
    
    background-color: #f2f2f2;
    border: 1px solid transparent;
}

.text-input:hover {
    background-color: #eaeaea;
}

.text-input:focus {
    background-color: #ffffff;
    border: 1px solid #f0c52e;
    -webkit-box-shadow: inset 0 0 0 2px #f0c52e;
            box-shadow: inset 0 0 0 2px #f0c52e;
    outline: none;
}

.text-input.incorrect {
    background-color: #f6dada;
    border: 1px solid #f6dada;
    outline: none;
}

.overlay {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.5);
    
    visibility: hidden;
    opacity: 0;
    -webkit-transition: ease-in 0.2s;
    -o-transition: ease-in 0.2s;
    transition: ease-in 0.2s;

    z-index: 0;
}
/* Окончание общих стилей */

.main-header {
    position: relative;

    padding-bottom: 48px;
    margin-top: 40px;

    background-color: rgba(240, 197, 46, 0.5);
}

.main-header.container {
    width: 1160px;
    padding-left: 60px;
    padding-right: 60px;
}

.logo {
    position: relative;
    top: -18px;
}

.logo:hover,
.logo:focus {
    opacity: 0.6;
    outline: none;
}

.logo:active {
    opacity: 0.3;
}

.personal-navigation {
    position: relative;
    top: -10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 15px;
}

.personal-navigation a {
    font-size: 15px;
    line-height: 30px;
    color: #000000;
}

.personal-navigation .user-logout {
    color: rgba(0, 0, 0, 0.3);
}

.footer-personal-navigation .user-logout {
    color: rgba(255, 255, 255, 0.3);
}

.personal-navigation a:hover,
.personal-navigation a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.personal-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.personal-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.personal-links a:hover,
.personal-links a:focus {
    opacity: 0.6;
}

.personal-links a:active {
    opacity: 0.3;
}

.personal-links:not(.authorized) .user-logout {
    display: none;
}

.personal-links.authorized .user-logout {
    margin-left: 22px;
    margin-right: 60px;
}

.header-navigation:not(.authorized) .user-login {
    margin-right: 214px;
}

.footer-personal-navigation.authorized .user-login {
    margin: 0;
}

.user-compare {
    margin-right: 40px;
}

.personal-links a:not(.user-logout) {
    position: relative;
    padding-left: 25px;
}

.personal-links a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 13px;
}

.main-header .user-login::before {
    background-image: url("../img/user.svg");
    width: 13px;
    height: 12px;
    top: 8px;
    left: 0;
}

.main-header .user-compare::before {
    background-image: url("../img/compare.svg");
    width: 10px;
    height: 10px;
    top: 10px;
    left: 4px;
}

.main-header .user-basket::before {
    background-image: url("../img/cart.svg");
    width: 12px;
    height: 12px;
    top: 8px;
    left: 2px;
}

.main-search-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 440px;
}

.main-search-form:focus-within .search-button {
    visibility: visible;
    opacity: 1;
    outline: none;
}

.main-search-form:focus-within .search-input {
    border-bottom: 2px solid #000000;
}

.search-input {
    position: relative;

    width: 100%;
    height: 49px;
    padding: 8px 0 3px 38px;

    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #000000;

    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position-x: 1px;
    background-position-y: 50%;
    
    border: none;
    border-bottom: 2px solid transparent;
}

.search-input::-webkit-input-placeholder {
    font-size: 15px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.3);
}

.search-input:-ms-input-placeholder {
    font-size: 15px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.3);
}

.search-input::-ms-input-placeholder {
    font-size: 15px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.3);
}

.search-input::placeholder {
    font-size: 15px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.3);
}

.search-input::-webkit-search-cancel-button {
    padding-right: 10px;
}

.search-input:focus {
    outline: none;
    border-bottom: 2px solid #000000;
}

.search-input:focus ~ .search-button {
    visibility: visible;
    opacity: 1;
}

.search-input:hover::-webkit-input-placeholder,
.search-input:focus::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.search-input:hover:-ms-input-placeholder,
.search-input:focus:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.search-input:hover::-ms-input-placeholder,
.search-input:focus::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.search-input:hover::placeholder,
.search-input:focus::placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.search-button {
    padding: 0 20px;

    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: #000000;

    border: 2px solid #000000;
    background-color: transparent;
    visibility: hidden;
    opacity: 0;
}

.search-button:hover,
.search-button:focus {
    background-color: #000000;
    color: #ffffff;
    visibility: visible;
    opacity: 1;
}

.search-button:active {
    color: rgba(255, 255, 255, 0.3);
}

.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.site-navigation-item {
    list-style: none;
}

.site-navigation-item:first-child {
    margin-right: 292px;
}

.site-navigation-item:nth-child(2n):not(:last-child) {
    margin-right: 34px;
}

.site-navigation-item:nth-child(3n) {
    margin-right: auto;
}

.site-navigation-link {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
}

.site-navigation-link:hover,
.site-navigation-link:focus {
    opacity: 0.6;
}

.site-navigation-link:active {
    opacity: 0.3;
}

.site-navigation-catalog {
    padding-right: 28px;
    position: relative;
}

.site-navigation-catalog::after {
    content: "";
    position: absolute;
    top: 4px;
    right: 0;
    background-image: url("../img/plus.svg");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;

    opacity: 0.3;
}

.site-navigation-catalog::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -8px;
    left: -20px;
    width: 110%;
    height: 10px;
    background-color: transparent;
}

.site-navigation-catalog:hover ~ .site-navigation-submenu,
.site-navigation-catalog:focus ~ .site-navigation-submenu,
.site-navigation-submenu:hover,
.site-navigation-submenu:focus {
    visibility: visible;
    opacity: 1;
}

.site-navigation-submenu:focus-within {
    visibility: visible;
    opacity: 1;
}

.site-navigation-submenu {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    height: 160px;    
    padding: 20px 60px 20px;

    list-style: none;
    background-color: #f7e296;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.15s;
    -o-transition: 0.15s;
    transition: 0.15s;
}

.site-navigation-submenu-item a {
    font-size: 15px;
    line-height: 36px;
    letter-spacing: 0.15px;
    font-weight: 300;
    color: #000000;
}

.site-navigation-submenu-item a:hover,
.site-navigation-submenu-item a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.site-navigation-submenu-item a:active {
    color: rgba(0, 0, 0, 0.3);
}

.site-navigation-submenu-item:not(:last-child) {
    margin-right: 59px;
}

.site-navigation-submenu-item:last-child {
    margin-bottom: 50px;
}

.products-slider {
    position: relative;
    margin-bottom: 93px;
}

.promos-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.promos-item {
    position: relative;
    display: none;
    background: -webkit-linear-gradient(top, rgba(240, 197, 46, 0.5), rgba(240, 197, 46, 0.5) 114px, #ffffff 114px, #ffffff);
    background: -o-linear-gradient(top, rgba(240, 197, 46, 0.5), rgba(240, 197, 46, 0.5) 114px, #ffffff 114px, #ffffff);
    background: linear-gradient(to bottom, rgba(240, 197, 46, 0.5), rgba(240, 197, 46, 0.5) 114px, #ffffff 114px, #ffffff);
}

.promos-item:nth-child(1) .promo-image {
    margin-top: 2px;
    margin-right: 125px;
    margin-left: 90px;
}

.promos-item:nth-child(2) .promo-image {
    margin-top: 15px;
    margin-right: 140px;
    margin-left: 115px;
}

.promos-item:nth-child(3) .promo-image {
    margin-top: 68px;
    margin-right: 40px;
    margin-left: 32px;
}

.slide-number {
    display: block;
    position: absolute;
    top: -12px;
    right: 47px;

    font-family: "Gilroy", Arial, sans-serif;
    font-size: 179px;
    line-height: 179px;
    letter-spacing: 1.79px;
    color: #ffffff;
    font-weight: 800;
    z-index: 1;
}

.promo-info {
    min-height: 500px;
}

.promo-info-title {
    position: relative;
    margin-top: 40px;
    margin-bottom: 19px;
    line-height: 56px;
    z-index: 3;
}

.promo-info-title::before {
    content: "";
    display: block;
    width: 100px;
    height: 7px;
    background-color: #ffffff;
    margin-bottom: 35px;
}

.promo-info-description {
    margin: 0;
}

.promos-item:nth-child(1) .promo-info-description {
    padding-right: 90px;
}

.promos-item:nth-child(2)  .promo-info-description{
    padding-right: 120px;
}

.promos-item:nth-child(3) .promo-info-description {
    padding-right: 110px;
}

.promo-info-description:last-of-type {
    margin-bottom: 47px;
}

.promo-info-button {
    padding: 0 43px;
    margin-bottom: 60px;
}

.promo-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.promo-details-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0;
}

.promo-details-item:not(:last-child) {
    margin-right: 78px;
}

.promos-item:nth-child(3) .promo-details-item {
    margin-right: 50px;
}

.promo-details-name {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.1px;
    font-weight: 300;
    color: #464646;
}

.promo-details-value {
    margin: 0;

    font-family: "Gilroy", Arial, sans-serif;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.36px;
    font-weight: 300;
    color: #000000;
    margin-bottom: 5px;
}

.products-slider-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 83px;
    bottom: 160px;
    z-index: 6;
}

.slide-toggle-button {
    display: block;
    width: 12px;
    height: 12px;

    background-image: url("../img/slider-button-empty.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
}

.slide-toggle-button.active {
    background-image: url("../img/slider-button.svg");
}

.slide-toggle-button:not(:last-child) {
    margin-right: 21px;
}

.promos-item.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.categories-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;

    margin-bottom: 100px;
}

.categories-item {
    width: 160px;
    margin-bottom: 80px;
}

.categories-item:not(:nth-child(6n)) {
    margin-right: 40px;
}

.categories-item:focus-within .categories-card {
    background-color: #f0c52e;
}

.categories-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 160px;
    height: 160px;
    margin-bottom: 35px;

    background-color: rgba(240, 197, 46, 0.5);
    -webkit-transition: 0.15s;
    -o-transition: 0.15s;
    transition: 0.15s;
}

.categories-card:hover,
.categories-card:focus {
    background-color: #f0c52e;
    outline: none;
}

.categories-link:hover,
.categories-link:focus {
    outline: none;
}

.categories-link:active img {
    opacity: 0.3;
}

.categories-link:active .category-name {
    color: rgba(0, 0, 0, 0.3);
}

.categories-card img {
    margin: auto;
}

.categories-card-selfie img {
    position: relative;
    bottom: -19px;
}

.categories-card-cameras {
    position: relative;
}

.categories-card-cameras img {
    position: absolute;
    left: 49px;
    top: 38px;
}

.categories-card-fitness {
    position: relative;
}

.categories-card-fitness img {
    position: absolute;
    left: 28px;
    top: 50px;
}

.categories-card-smartwatch {
    position: relative;
}

.categories-card-smartwatch img {
    position: absolute;
    left: 55px;
    top: 32px;
}

.categories-card-quadrocopters {
    position: relative;
}

.categories-card-quadrocopters img {
    position: absolute;
    left: 13px;
    top: 49px;
}

.category-name {
    margin: 0;

    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 0.2px;
    color: #000000;
}

.category-selfie {
    max-width: 100px;
}

.services {
    margin-bottom: 95px;
    padding-bottom: 120px;
    background-color: #e5e5e5;
}

.services-slider {
    position: relative;
    top: -27px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.slider-item::after {
    content: "";
    display: block;
    position: absolute;
    right: 66px;
    top: 10px;
    background-repeat: no-repeat;
}

.delivery-slide::after {
    background-image: url("../img/delivery.svg");
    width: 136px;
    height: 164px;
}

.warranty-slide::after {
    background-image: url("../img/warranty.svg");
    width: 171px;
    height: 194px;
    top: -12px;
    right: 45px;
}

.credit-slide::after {
    background-image: url("../img/credit.svg");
    width: 156px;
    height: 186px;
    top: -10px;
    right: 70px;
}

.services-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.services-item {
    display: none;
    min-width: 760px;
}

.services-item.active {
    display: block;
}

.services-item {
    position: relative;
    padding-right: 330px;
}

.services-controls {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 17px;
}

.services-controls::after {
    display: block;
    content: "";
    width: 7px;
    height: 319px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #000000;
    -webkit-transform: translateY(-28%);
        -ms-transform: translateY(-28%);
            transform: translateY(-28%);
}

.services-controls-button {
    margin-right: 120px;
    padding: 0 20px;
}

.services-controls-button:not(:last-child) {
    margin-bottom: 40px;
}

.services-controls-button {
    position: relative;
}

.services-controls-button.active {
    color: #f0c52e;
    background-color: #000000;
}


.services-controls-button.active::before {
    content: "";
    display: block;
    height: 41px;
    width: 278px;
    position: absolute;
    top: -9px;
    left: 0;
    background-color: #000000;
    z-index: -1;
}

.services-controls-button.active:hover::before,
.services-controls-button.active:focus::before {
    outline: 1px solid #4d90fe;
}

.services-item-title {
    margin-bottom: 30px;
}

.services-item-description {
    max-width: 430px;
    margin: 0;
}

.partners {
    margin-bottom: 25px;
}

.partners-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
}

.partners-item:not(:nth-child(4n)) {
    margin-right: 40px;
}

.partners-link {
    display: block;
    width: 260px;
    height: 100px;
    position: relative;
    margin-bottom: 20px;
}

.partners-link:hover,
.partners-link:focus {
    background-repeat: no-repeat;
    outline: none;
}

.partners-link-dji:hover,
.partners-link-dji:focus {
    background-image: url("../img/partners-logo-1.jpg");
}

.partners-link-spg:hover,
.partners-link-spg:focus {
    background-image: url("../img/partners-logo-2.jpg");
}

.partners-link-gopro:hover,
.partners-link-gopro:focus {
    background-image: url("../img/partners-logo-3.jpg");
}

.partners-link-vive:hover,
.partners-link-vive:focus {
    background-image: url("../img/partners-logo-4.jpg");
}

.partners-link:hover img,
.partners-link:focus img {
    visibility: hidden;
    opacity: 0;
}

.about-us {
    max-width: 475px;
}

.about-us-title {
    margin-bottom: 43px;
}

.about-us p {
    margin-top: 0;
    margin-bottom: 30px;
}

.about-us p:last-of-type {
    margin-bottom: 65px;
}

.about-us-button {
    padding: 0 23px;
}

.about-partners {
    margin: 0;
    padding: 0;
    list-style: none;

    margin-bottom: 60px;
}

.about-partners-item {
    position: relative;
    padding-left: 35px;

    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: 40px;
    font-weight: 800;
    color: #000000;
}

.about-partners-item::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    left: 1px;
    top: calc(50% - 4px);

    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.contacts {
    max-width: 560px;
}

.contacts-title {
    margin-bottom: 42px;
}

.contacts > p {
    margin-top: 0;
    margin-bottom: 50px;
}

.contacts > p:last-of-type {
    margin-bottom: 40px;
}

.contacts-map {
    display: block;
    width: 560px;
    height: 222px;
    margin-bottom: 73px;
    background-color: #eaeaea;
}

.contacts-button {
    padding: 0 41px;
}
.about-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 86px;
    padding-top: 45px;
}

.about-wrapper .title::before {
    content: "";
    display: block;
    width: 80px;
    height: 7px;
    background-color: #000000;
    margin-bottom: 47px;
}

/* Стили каталога */

.catalog-title-container {
    padding: 35px 0 0 80px;
}

.catalog-page-title {
    margin-bottom: 25px;
}

.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 47px;
    padding: 0;

    list-style: none;
}

.breadcrumbs li a,
.breadcrumbs li {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs li a:hover,
.breadcrumbs li a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs li a:active {
    color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs li:not(:last-child) {
    margin-right: 18px;
}

.breadcrumbs li:not(:last-child)::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;  
    background-image: url("../img/nav-arrow.svg");
    background-repeat: no-repeat;
    width: 4px;
    height: 7px;
}

.blocks-captions {
    background: -webkit-gradient(linear, left top, right top, color-stop(30%, #d9d9d9), color-stop(30%, #ebebeb));
    background: -webkit-linear-gradient(left, #d9d9d9 30%, #ebebeb 30%);
    background: -o-linear-gradient(left, #d9d9d9 30%, #ebebeb 30%);
    background: linear-gradient(to right, #d9d9d9 30%, #ebebeb 30%);
}

.blocks-captions > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 71px;
}

.catalog-sort {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
}

.catalog-filter-caption {
    padding-top: 24px;
    padding-right: 182px;
    padding-bottom: 23px;
    padding-left: 62px;

    background-color: #d9d9d9;
}

.catalog-sort-caption {
    align-self: center;
    padding-left: 70px;
}

.catalog-filter-caption,
.catalog-sort-caption {
    margin: 0;

    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 3.2px;
    color: #000000;
    text-transform: uppercase;
}

.catalog-sort > .sort-item:first-of-type {
    margin-left: 55px;
}

.sort-options {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 0 0 54px;
    padding: 0;
    list-style: none;
}

.sort-item {
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
}

.sort-options-item {
    padding-bottom: 4px;
}

.sort-options-item:not(:last-of-type) {
    margin-right: 31px;
}

.sort-item-active {
    color: #000000;
}

.sort-item:not(.sort-item-active):hover,
.sort-item:not(.sort-item-active):focus {
    color: rgba(0, 0, 0, 0.6);
}

.sort-item:not(.sort-item-active):active {
    color: #000000;
}

.sort-directions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    max-width: 60px;
    margin: 0;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    list-style: none;
}

.sort-directions-item:not(:last-child) {
    margin-right: 19px;
}

.sort-order {
    display: block;
    width: 11px;
    height: 10px;

    background-repeat: no-repeat;
    cursor: pointer;
}

.sort-order:hover,
.sort-order:focus {
    opacity: 0.4;
    outline: none;
}

.sort-order:active {
    opacity: 1;
}

.sort-ascending {
    background-image: url("../img/icon-up-dir.svg");
    opacity: 0.2;
}

.sort-descending {
    background-image: url("../img/icon-down-dir.svg");
}

.catalog-wrapper {
    background: -webkit-gradient(linear, left top, right top, from(#ebebeb) , color-stop(30%, #ebebeb), color-stop(30%, #ffffff), to(#ffffff));
    background: -webkit-linear-gradient(left, #ebebeb , #ebebeb 30%, #ffffff 30%, #ffffff);
    background: -o-linear-gradient(left, #ebebeb , #ebebeb 30%, #ffffff 30%, #ffffff);
    background: linear-gradient(to right, #ebebeb , #ebebeb 30%, #ffffff 30%, #ffffff);
}

.catalog-wrapper > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.products-filter {
    background-color: #ebebeb;
}

.filter-form {
    margin-top: 68px;
    margin-right: 70px;
    padding-left: 60px;
}

.filter-form-title {
    margin-bottom: 18px;
}

.filter-form-title::before {
    content: "";
    display: block;
    background-color: #000000;
    width: 201px;
    height: 2px;
    margin-bottom: 10px;
}

.filter-form-item {
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
}

.filter-price-range {
    margin-bottom: 70px;
}

.filter-color {
    margin-bottom: 30px;
}

.filter-form-title {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.18px;
    font-weight: 800;
    color: #000000;
}

.price-controls-item {
    position: absolute;
    top: 10px;
    
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.2);
}

.price-controls-item input {
    -moz-appearance: textfield;
}

.price-controls-item input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.2);
}

.price-controls-item input:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.2);
}

.price-controls-item input::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.2);
}

.price-controls-item input::placeholder {
    color: rgba(0, 0, 0, 0.2);
}

.price-controls-item input::-webkit-inner-spin-button,
.price-controls-item input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.filter-form-checkbox {
    padding-left: 38px;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0.15px;
    color: #000000;
}

.filter-form-price {
    padding-top: 15px;
}

.filter-form-price-line {
    width: 196px;
    height: 2px;
    background-color: #dbdbdb;
}

.range-controls {
    position: relative;
}

.range-controls .bar {
    position: absolute;
    width: 110px;
    height: 2px;
    top: -2px;
    left: 0;
    background-color: #91c92f;
}

.range-controls .toggle {
    position: absolute;
    padding: 0;
    width: 20px;
    height: 22px;

    background-image: url("../img/filter-button.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.range-controls .toggle:active {
    width: 22px;
    height: 24px;
}

.toggle-min {
    left: -5px;
    top: -11px;
}

.toggle-min:active {
    left: -6px;
    top: -12px;
}

.toggle-max {
    top: -11px;
    left: 107px;
}

.toggle-max:active {
    top: -12px;
    left: 106px;
}

.price-controls-item input {
    max-width: 80px;
    background-color: transparent;
    border: none;
}

.price-controls-min {
    left: 0;
}

.price-controls-max {
    right: 30px;
}

.filter-form-input {
    position: absolute;
    appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;  
}

.filter-form-input::-ms-check {
    display: none;
}

.filter-form-checkbox::before {
    content: "";

    position: absolute;
    width: 27px;
    height: 23px;
    left: -1px;
    top: 7px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
}

.filter-form-checkbox:hover::before,
.filter-form-checkbox:hover::focus {
    outline: none;
}

.filter-form-input:checked ~ .filter-form-checkbox::before {
    background-image: url("../img/checkbox-on.svg");
}

.filter-form-input:disabled ~ .filter-form-checkbox,
.filter-form-input:disabled ~ .filter-form-checkbox::before {
    opacity: 0.25;
}

.filter-form-input:hover:not(:disabled) ~ .filter-form-checkbox::before,
.filter-form-input:focus:not(:disabled) ~ .filter-form-checkbox::before {
    opacity: 0.6;
}

.filter-form-input:active ~ .filter-form-checkbox::before {
    opacity: 1;
}

.filter-form-radio {
    padding-left: 38px;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0.14px;
}

.filter-form-radio::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0;
    top: 7px;
    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
}

.filter-form-input:checked ~ .filter-form-radio::before {
    background-image: url("../img/radio-on.svg");
}

.filter-form-input:disabled ~ .filter-form-radio,
.filter-form-input:disabled ~ .filter-form-radio::before {
    opacity: 0.25;
}

.filter-form-input:hover:not(:disabled) ~ .filter-form-radio::before,
.filter-form-input:focus:not(:disabled) ~ .filter-form-radio::before {
    opacity: 0.6;
}

.filter-form-input:active ~ .filter-form-radio::before {
    opacity: 1;
}

.filter-bluetooth {
    margin-bottom: 35px;
}

.filter-form-button {
    padding: 0 40px;
}

.catalog {
    padding-top: 69px;
    padding-left: 70px;
}

.catalog-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 0 10px;
    padding: 0;
    width: 760px;

    list-style: none;
}

.catalog-item {
    position: relative;
    width: 360px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 46px;
    z-index: 7;
}

.catalog-item-new::before {
    content: "New";
    display: block;
    width: 61px;
    height: 60px;
    padding: 17px 0 0 14px;
    position: absolute;
    right: 27px;
    top: 29px;

    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
    color: rgba(0, 0, 0, 0.2);
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    text-transform: uppercase;

    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.catalog-item:hover img,
.catalog-item:focus img {
    opacity: 0.5;
}

.catalog-item:hover .catalog-item-details,
.catalog-item:focus .catalog-item-details {
    z-index: 10;
}

.catalog-item:focus-within .catalog-item-details {
    z-index: 10;
}

.catalog-item:focus-within img {
    opacity: 0.5;
}

.catalog-item:not(:nth-child(2n)) {
    margin-right: 40px;
}

.catalog-item-image {
    margin-bottom: 32px;
}

.catalog-item-header {
    margin: 0;

    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.18px;
    font-weight: 800;
    color: #000;
}

.catalog-item:nth-child(2) .catalog-item-header,
.catalog-item:nth-child(4) .catalog-item-header {
    max-width: 225px;
}

.catalog-item-price {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
    font-weight: 300;
    color: #464646;
}

.catalog-item-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    left: 80px;
    top: 180px;
    z-index: -1;
}

.to-basket-button {
    padding: 0 36px;
    margin-bottom: 13px;
}

.to-compare-button {
    font-size: 13px;
    line-height: 36px;
    letter-spacing: 0.13px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.to-compare-button:hover,
.to-compare-button:focus {
    color: #000000;
}

.to-compare-button:active {
    color: rgba(0, 0, 0, 0.2);
}

.pagination {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: 760px;
    height: 70px;
    top: -22px;
    margin-bottom: 55px;

    background-color: #ebebeb;
}

.pagination-item {
    display: block;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3.2px;
    font-weight: 800;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
}

.pagination-direction {
    padding: 23px 30px;
    vertical-align: middle;
}

.pagination-direction:hover,
.pagination-direction:focus {
    background-color: #d9d9d9;
    outline: none;
}

.pagination-direction:active {
    background-color: #d9d9d9;
    color: rgba(0, 0, 0, 0.3);
}

.pagination-numeric {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 60%;
    margin: 0 auto;
    padding-top: 3px;
    padding-left: 6px;
}

.pagination-numeric-item:not(:last-of-type) {
    margin-right: 28px;
}

.pagination-numeric-item:not(:first-of-type):hover,
.pagination-numeric-item:not(:first-of-type):focus {
    color: rgba(0, 0, 0, 0.6);
}

.pagination-numeric-item:not(:first-of-type):active {
    color: #000000;
}

.pagination-direction,
.pagination-item-active {
    color: #000000;
}

/* Окончание стилей каталога */

.main-footer {
    padding: 60px 0 50px;
    background-color: #464646;
}

.footer-logo {
    padding: 5px 0;
}

.footer-logo:hover,
.footer-logo:active {
    opacity: 0.6;
}

.footer-logo:active {
    opacity: 0.3;
}

.footer-user-links {
    margin-bottom: 17px;
}

.footer-contacts {
    margin-bottom: 60px;
}

.footer-social {
    position: relative;
}

.footer-social::before {
    content: "";
    display: block;
    position: absolute;
    top: 17px;
    left: 0;
    bottom: -15px;
    width: 80px;
    height: 7px;
    
    background-color: #ffc600;
}

.footer-address {
    margin: 0 165px 0 0;
}

.footer-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 450px;
    margin: 0;
    padding: 0;

    list-style: none;
}

.footer-navigation-item:not(:nth-child(3n)) {
    margin-right: 33px;
}

.footer-navigation-link {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 3.6px;
    font-weight: 800;
    color: #ffffff;
    text-transform: uppercase;
}

.footer-navigation-link:hover,
.footer-navigation-link:focus {
    color: rgba(255, 255, 255, 0.6);
}

.footer-navigation-link:active {
    color: rgba(255, 255, 255, 0.3);
}

.footer-personal-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-left: auto;
    width: 60%;
}

.footer-personal-navigation a {
    font-size: 15px;
    line-height: 36px;
    letter-spacing: 0.15px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);

    background-repeat: no-repeat;
}

.footer-personal-navigation a:not(.user-logout) {
    padding-left: 20px;
}

.footer-personal-navigation .user-login::before {
    background-image: url("../img/user-gold.svg");
    width: 13px;
    height: 12px;
    left: -6px;
}

.footer-personal-navigation.authorized .user-logout {
    margin-right: 45px;
    margin-left: 19px;
}

.footer-personal-navigation .user-compare::before {
    background-image: url("../img/compare-gold.svg");
    width: 10px;
    height: 10px;
}

.footer-personal-navigation .user-basket::before {
    background-image: url("../img/cart-gold.svg");
    width: 12px;
    height: 12px;
}

.footer-personal-navigation a:not(:last-of-type) {
    margin-right: 42px;
}

.footer-address {
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #ffffff;
}

.footer-phone {
    display: block;
    margin: 0 0 0 auto;

    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #ffffff;
}

.social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 170px;
    margin: 0 0 0 auto;
    padding: 3px 0 0 25px;

    list-style: none;
}

.social-item {
    margin-bottom: 20px;
}

.social-item:not(:nth-child(3n)) {
    margin-right: 23px;
}

.social-link {
    display: block;
    width: 32px;
    height: 32px;

    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
}

.social-link:hover,
.social-link:focus {
    opacity: 0.6;
}

.social-link:active {
    opacity: 0.1;
}

.social-link-facebook {
    background-image: url("../img/fb.svg");
}

.social-link-instagram {
    background-image: url("../img/instagram.svg");
}

.social-link-twitter {
    background-image: url("../img/twitter.svg");
}

.academy-logo {
    margin-left: auto;
    width: 27px;
    height: 35px;
}

.academy-logo:hover,
.academy-logo:focus {
    opacity: 0.6;
}

.academy-logo:active {
    opacity: 0.3;
}


.our-location {
    width: 970px;
    height: 560px;
    position: fixed;
    top: calc(50% - 270px);
    left: calc(50% - 465px);

    -webkit-box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);

            box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
    background-color: #ffffff;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
}

.our-location iframe {
    width: 100%;
    height: 100%;

    border: none;
}

.write-us {
    width: 960px;
    padding: 100px 103px 80px 98px;
    position: fixed;
    top: calc(50% - 270px);
    left: calc(50% - 465px);

    background-color: #ffffff;
    -webkit-box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
            box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
    z-index: 99;
    visibility: hidden;
    opacity: 0;
}

.write-us-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.write-us-form .input-wrapper {
    display: inline-block;
    vertical-align: middle;
}

.write-us-form label {
    display: block;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    font-weight: 800;
    margin-bottom: 7px;
}

.input-wrapper-message {
    width: 100%;
}

.input-wrapper-message textarea {
    width: 100%;
    height: 156px;
    resize: none;
    margin-bottom: 40px;
}

.input-wrapper-email {
    margin-left: auto;
}

.write-us-form .text-input:not(textarea) {
    width: 360px;
}

.input-wrapper-name,
.input-wrapper-email {
    margin-bottom: 35px;
}

.write-us-button {
    padding: 0 34px;
}

.close-button {
    display: block;
    width: 55px;
    height: 55px;
    position: absolute;
    right: 25px;
    top: 25px;

    border: none;
    background-color: transparent;
    background-image: url("../img/modal-close.svg");
    background-repeat: no-repeat;
    opacity: 0.5;
}

.close-button:hover,
.close-button:focus {
    opacity: 1;
}

.close-button:active {
    opacity: 0.2;
}

.show {
    visibility: visible;
    opacity: 1;
}

.show-animation {
    -webkit-animation: bounce 0.5s;
            animation: bounce 0.5s;
}

.error {
    -webkit-animation: wobble 0.8s;
            animation: wobble 0.8s;
}

@-webkit-keyframes wobble {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-15px) rotate(-3deg);
              transform: translateX(-15px) rotate(-3deg);
    }
    30% {
      -webkit-transform: translateX(8px) rotate(3deg);
              transform: translateX(8px) rotate(3deg);
    }
    45% {
      -webkit-transform: translateX(-8px) rotate(-1deg);
              transform: translateX(-8px) rotate(-1deg);
    }
    60% {
      -webkit-transform: translateX(3px) rotate(0.5deg);
              transform: translateX(3px) rotate(0.5deg);
    }
    75% {
      -webkit-transform: translateX(-3px) rotate(0deg);
              transform: translateX(-3px) rotate(0deg);
    }
}

@keyframes wobble {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-15px) rotate(-3deg);
              transform: translateX(-15px) rotate(-3deg);
    }
    30% {
      -webkit-transform: translateX(8px) rotate(3deg);
              transform: translateX(8px) rotate(3deg);
    }
    45% {
      -webkit-transform: translateX(-8px) rotate(-1deg);
              transform: translateX(-8px) rotate(-1deg);
    }
    60% {
      -webkit-transform: translateX(3px) rotate(0.5deg);
              transform: translateX(3px) rotate(0.5deg);
    }
    75% {
      -webkit-transform: translateX(-3px) rotate(0deg);
              transform: translateX(-3px) rotate(0deg);
    }
}

@-webkit-keyframes bounce {
    0% {
      -webkit-transform: translateY(-2000px);
              transform: translateY(-2000px);
    }
  
    70% {
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
    }
  
    90% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
  
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
}

@keyframes bounce {
    0% {
      -webkit-transform: translateY(-2000px);
              transform: translateY(-2000px);
    }
  
    70% {
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
    }
  
    90% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
  
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
}